<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>HOME </title>
<link href="normal.css" rel="stylesheet" type="text/css"  media="screen">
<link href="movil.css" rel="stylesheet" type="text/css"media="(max-device-width:480px)">
</head>

<body>

<header><h1> Home </h1></header>
<iframe class="youtube-player"type=”text/html” width=”640″ height=”385″ src="https://www.youtube.com/embed/gjb4KvRw55I" frameborder="200">
</iframe>
<video src="https://www.youtube.com/embed/gjb4KvRw55I">	mio </video>
<br>

<img src="http://arod13.neocities.org/practica1/Kratos_Real.png" width="300" height="300" alt="Yo"/>
</body>
</html>
